<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href=""><img src="img/hotel.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="admin/hospitalList">Server-side</a></li>
                    <li class="nav-item"><a class="nav-link" href="rooms">Stay</a></li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="">Fine Dining Experience</a></li>
                        </ul>
                    </li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Forum</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="blog.html">News</a></li>
                            <li class="nav-item"><a class="nav-link" href="blog-single.html">Posts</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href=>About us</a></li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Feedback</a>
                    </li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/avatar.png" alt="" width="50" height="35">

                          {{!-- <span>{{session["CurrentUsername"]}}</span> --}}
                          <p>Welcome Back , </p>



                        </a>
                        <ul class="dropdown-menu">
                          <li class="nav-item"><a class="nav-link" href="">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Sign Up</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>


