{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Pre-Orders {% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="display-4">View Pre-Orders</h1>
  <div>
    <p>There are {{ preorders|length }} Pre-Orders.</p>
  </div>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Pre-Orders ID</th>
          <th>Name</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
      {% set count = namespace(value=0) %}
      {% for order in preorders %}
        {% set count.value = count.value + 1 %}
        <tr>
          <td>{{ count.value }}</td>
          <td>{{ order }}</td>
          <td><a href="{{ url_for('preorderdetail', username=order) }}">More Details</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
