<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" charset="utf-8"></script>
  </head>
  <body>
    <label for="tags">name</label>
    <input id="guest">
    id<input id="guest_id">


  </body>

  <script type="text/javascript">
    var local_source = [
  {id : 1, value: "Jang Wonyoung"},
  {id : 2, value: "Ahn Yujin"},
  {id : 3, value: "Kim Minju"},
  {id : 4, value: "Kwon Eunbi"},

    ];

$("#guest").autocomplete({
        source: function(request,response){
          $.ajax({
              url: '/nameAutoComplete',
              type : 'post',
              contentType: 'application/json',
              dataType : 'json',
              data : listing,

              success:function(data){

                            response($.map(data,function(item) {
                                return {
                                      id : item.id,
                                      value: item.name
                                }
                            }))
                      }
                  });
        },
select: function(event,ui){
          $(this).val(ui.item.name)
          $("#guest_id").val(ui.item.id);




        },




        minLength:2,
        autoFocus:true,





    });









  </script>




</html>
