{% extends "userBase.html" %}
{% block title %}Library Loan System - Confirmation {% endblock %}

<link rel="stylesheet" href="{{ url_for('static',filename='styles/royal_style.css') }}">\

{% block content %}
<form action="{{url_for('confirmationReservation')}}" method="POST">
    <div class="container">
        <header><h1>Confirmation</h1></header>
        <h2>Hi, </h2>
        <p>Thank you for making Pre-Orders with HOTEL LA BODO. We will send the pre-orders
            details to your email.<br>To continue, click the button below to acknowledge.</p>
        <a href="{{ url_for('user_home') }}" class="button_hover theme_btn_two">Ok</a>
        <p>Thanks, <br> HOTEL LA BODO</p>
    </div>
</form>

{% endblock %}