{% extends "server_base.html" %}

{% block title %} Create Occupation {% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/g_map.css') }}">
{% endblock %}

{% block content %}


{% from "includes/_formHelper.html" import render_field %}

<body id="page-top">

                <!-- Begin Page Content -->

                <div class="container-fluid">
                  <a class="btn btn-outline-secondary" href="{{ url_for('server_guests') }}">Guest Details</a>
                  <a class="btn btn-outline-secondary" href="{{ url_for('hospital_list') }}">Hospitals</a>
                  <a class="btn btn-secondary">Occupations</a>
                  <a class="btn btn-outline-secondary">Vehicles</a>
                  <a class="btn btn-outline-secondary" href="{{ url_for('request_list') }}">Requests</a>
                  <hr>
                <div class="row flex-lg-nowrap">


                  <div class="col">
                    <div class="row">
                      <div class="col mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="e-profile">
                              <div class="row">


                              </div>
                              <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="" class="active nav-link">Information</a></li>
                              </ul>
                              <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                  <form method="POST" action="">
                                    <div class="row">
                                      <div class="col">
                                        <div class="row">
                                          <div class="col">
                                            <div class="form-group">
                                              {{ render_field(form.industry_name, class="form-control") }}
                                            </div>
                                          </div>
                                        </div>
                                        

                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col d-flex justify-content-end">
                                        <button class="btn btn-primary" type="submit">Create</button>
                                      </div>
                                    </div>
                                  </form>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>

                  </div>
                </div>
                </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
  <!--  <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a> -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
  {{ super() }}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO5-kE5NU-8iLRbhk-nG5vgcWedjXgPMg&callback=initAutocomplete&libraries=places&v=weekly"
    defer
  ></script>
  <script src="{{ url_for('static',filename='js/google_map.js') }}"></script>

  {% endblock %}
