{% extends "base.html" %}
{% block title %}HOTEL LÃ BODO - Retrieve PackageDeal{% endblock %}

{% block content %}
<div class="container-fluid">
<h1 class="display-5">Package Deal</h1>
<div>
  {% if count == 0 %}
  <p>There are no Package Deals.</p>
  {% elif count == 1 %}
  <p>There is 1 Package Deal.</p>
  {% else %}
  <p>There are {{ count }} Package Deals.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Attractions</th>
        <th>Transport</th>
        <th>Price</th>
        <th>Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for attractions in attractions_list %}
      <tr>
        <td>{{ attractions.get_attractions() }}</td>
        <td>{{ attractions.get_transport() }}</td>
        <td>{{ attractions.get_price() }}</td>
          <td>{{ attractions.get_code() }}</td>
        <td><a href="/updatePackageDeal/{{attractions.get_attractions()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('deletePackageDeal', attractions=attractions.get_attractions())}}" method="POST">

              <!-- Button to Open the Modal -->
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{attractions.get_attractions()}}">
                Delete
              </button>

              <!-- The Modal -->
              <div class="modal" id="myModal_{{attractions.get_attractions()}}">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Confirmation</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      Are you sure you want to delete attractions: {{attractions.get_attractions()}}, transport: {{attractions.get_transport()}} price: {{attractions.get_price()}} code: {{attractions.get_code()}}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <input type="submit" value="Delete" class="btn btn-danger">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>

                  </div>
                </div>
              </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}