<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">

    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='vendor/fontawesome/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='vendor/fontawesome/css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='vendors/owl-carousel/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/owl.transitions.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/responsive.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main_menu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/ionicons.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Addcart.css') }}">


    {% endblock %}

    <title>Hotel La Bodo - {% block title %}{% endblock %}</title>
  </head>

  <body>

<!-- Nav Bar -->

{% block navbar %}
    {% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %}
{% endblock %}




 {%block scripts %}
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/mail-script.js')}}"></script>
    <script src="{{url_for('static', filename='js/stellar.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/slick_carousel.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js')}}"></script>

{% endblock %}
  </body>
</html>
