<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">

<div class="container-fluid">
    <h1 class="display-5">Reponse</h1>

    <form method="POST" action="/admRestaurant/createResponse/{{Contact.id}}" id="response">
        <div class="form-group">
            <label for="toEmail">To: </label>
            <input class="form-control" id="toEmail" name="toEmail" required type="email" value="{{contact.contact_email}}">
        </div>
        <div class="form-group" hidden>

            <label for="fromEmail">From: </label>
            <input class="form-control" id="fromEmail" name="fromEmail" required type="email" value="HotelLaBodo@gmail.com">


        </div>
        <div class="form-group">

            <label for="toSubject">Subject: </label>
            <input class="form-control" id="toSubject" name="toSubject" required type="text" value="">


        </div>
        <div class="form-group">

            <label for="toMessage">Message: </label>
            <textarea class="form-control" id="toMessage" name="toMessage" required type="" value=""></textarea>


            <button type="submit" value="Submit" id="replySubmit" data-toggle="modal" data-target="#modalReply"
                class="btn btn-primary">
                Send
            </button>
    </form>
</div>

<script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>

<script>
    $("#replySubmit").click(function (e) {
        e.preventDefault();

        var toEmail = $("#toEmail").val();
        var fromEmail = $("#fromEmail").val();
        var toSubject = $("#toSubject").val();
        var toMessage = $("#toMessage").val();
        Swal.fire(
            'Submitted!',
            'Respone Recieved!',
            'success').then((result) => {
                if (result.isConfirmed) {
                    $("#response").submit();
                }
            });
    });
</script>