<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hotel La Bodo Server - {{title}}</title>


    <link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/styles/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.css">
    <link href="/styles/all.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/sweetalert2/dist/sweetalert2.css">
        	{{!-- Chatbot css --}}
	    <link rel="stylesheet" href="/styles/chat.css">
    	<link rel="stylesheet" href="/styles/chatBot.css">
    	<link rel="stylesheet" href="/styles/typing.css">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
</head>

<body>
    {{>_servernav}}
    <div class="container-fluid">
        {{>_flashmsg}}
        {{>_msg}}
        {{>_errors}}
    </div>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="/img/botAvatarSmall.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chuu Bot</h4>
                        <p class="chatbox__description--header">A personal search assistant to navigate Hotel La Bodo.</p>
                    </div>
                </div>
                <div class="chatbox__messages" id="ChatBot_message">
                    <div id="ChatBot_messages">
                        <div class="messages__item messages__item--visitor">
                            I’m Chuu, your Hotel La Bodo virtual assistant! Here to assist you with your query on our services!
                        </div>
                    </div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" id="textbox" placeholder="Write a message...">
					<button id="sendBtn" type="button" class="btn btn-primary">Send</button>
                    
                </div>
            </div>
            <div class="chatbox__button">
                <button>button</button>
            </div>
        </div>
    </div>
    {{{body}}}
    

    	<!-- Optional JavaScript -->
	<script src="/js/Chat.js"></script>
    <script src="/js/chatActivate.js"></script>
    <script src="../../public/sweetalert2/dist/sweetalert2.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    
    <!-- Page level custom scripts -->
    <script src="/js/datatables-demo.js"></script>
</body>

</html>
