<head>
  <link rel="stylesheet" href="/css/g_map.css">


</head>

<body id="page-top">
              <div class="container-fluid">
                <a class="btn btn-outline-secondary" href="">Guest Details</a>
                <button type="button" class="btn btn-secondary">Hospitals</button>
                <button type="button" class="btn btn-outline-secondary">Occupations</button>
                
                <button type="button" class="btn btn-outline-secondary">Vehicles</button>
                
                <hr>

              </div>
                <!-- Begin Page Content -->
                <br>
                <div class="container-fluid">
                  <div id="map"></div>
                <div class="row flex-lg-nowrap">
                 
                  <div class="col">
                    <div class="row">
                      <div class="col mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="e-profile">
                              <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="" class="active nav-link">Information</a></li>
                              </ul>
                              <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                  <form method="POST" action="">
                                                            
                                    <div class="row">
                                      <div class="col">
                                       
                                        <div class="row">
                                          <div class="col-lg-9">
                                            <div class="form-group">
                                              <label>Place ID</label>
                                                <input type="hidden" id="google_location" name="google_location" value="{{js_data}}"> 
                                              <input type="text" id="location" class="form-control" value="{{js_data}}" readonly>
                                            </div>
                                            <div class="form-group">
                                             <label for="name">Hospital Name</label>
                                             <input type="text" class="form-control" name="name" id="name" value="" required>
                                            </div>
                                            <div class="form-group">
                                              <label for="address">Address</label>
                                             <input type="text" class="form-control" name="address" id="add" value="" required>
                                            </div>
                                          </div>
                                          <div class="col-lg-3">
                                            {{!—-Poster image --}}
                                            <label for="hospital_image">Hospital Logo</label>
                                            <input type="file" id="posterUpload" name="posterUpload" accept="image/png,image/jpeg,image/jpg,image/gif">
                                            <img id="hospital_image" src="" alt=""class="border img-thumbnail img-fluid"style="height:95%;width:100%">
                                            <input id="photoURL"type="hidden"name="photoURL">
                                            </div>
                                            <div class="font-weight-bold text-danger small" id="photoError" style="display:none"></div>

                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <div class="form-group">
                                             <label for="contact">Contact Number</label>
                                             <input type="text" class="form-control" name="contact" id="contact" value="" required>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <div class="form-group">
                                             <label for="website">Website</label>
                                             <input type="text" class="form-control" name="website" id="website" value="" required>
                                            </div>
                                          </div>
                                        </div>

                                        

                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col d-flex">
                                        <a class="btn btn-secondary" href="">Hospital Search</a>
                                      </div>
                                      <div class="col d-flex justify-content-end">
                                        <button class="btn btn-primary" type="submit">Create</button>
                                      </div>
                                    </div>
                                  </form>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
                </div>
            <!-- End of Main Content -->


            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
  <!--  <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a> -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


   <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhR62_UUROPzt6A8IOhVZBppjp9e51w2w&callback=initAutocomplete&libraries=places&v=weekly"
    defer
  ></script>
  <script src="/js/google_map.js"></script>
  <script src="/js/googlemaps_fetch.js"></script>
  {{!-- <script src="../js/natgeowild.js"></script> --}}


