<head>
  <link rel="stylesheet" href="/css/place_finder.css">


</head>

<body id="page-top">
              <div class="container-fluid">

                <hr>

              </div>
                <!-- Begin Page Content -->
                <div id="map"></div>
                <div id="infowindow-content">
                <span id="place-name" class="title"></span><br />
                <strong>Place ID:</strong> <span id="place-id"></span><br />
                <span id="place-address"></span>
              </div>
              <input class="form-control" id="pac-input" type="text" name="hospital" placeholder="" value="">                             

                <br>

                <div class="container-fluid">

                <div class="row flex-lg-nowrap">
                  <div class="col">
                    <div class="row">
                      <div class="col mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="e-profile">
                              <div class="row">
                                <div class="col col-sm-auto mb-3">
                                </div>
                              </div>
                              <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="" class="active nav-link">Information</a></li>
                              </ul>
                              <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                  <form method="POST" action="hospitalCreate">
                                    <div class="row">
                                      <div class="col">
                                        <div class="row">
                                          <div class="col-6">
                                            <div class="form-group">
                                              <label>Place ID</label>
                                              <input class="form-control" id="test1" type="text" name="hospital1" placeholder="" value="" readonly>                           
                                            </div>
                                          </div>
                                          <div class="col-6">
                                            <div class="form-group">
                                              <label>Coordinates</label>
                                              <input class="form-control" id="test2" type="text" name="hospital2" placeholder="" value="" readonly>                           
                                            </div>
                                          </div>
                                        </div>


                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col d-flex justify-content-end">
                                        {{!-- <button class="btn btn-primary" onclick="fetch_gmaps()" type="button">Search</button> --}}
                                      </div>
                                      <div class="col d-flex justify-content-end">
                                        <input type="submit" class="btn btn-primary" value="Search">
                                        
                                      </div>
                                    </div>
                                  </form>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
                </div>
            <!-- End of Main Content -->


            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
  <!--  <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a> -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhR62_UUROPzt6A8IOhVZBppjp9e51w2w&callback=initMap&libraries=places&v=weekly"
    defer
  ></script>
  <script src="/js/place_finder.js"></script>
  {{!-- <script src="/js/hospital_search.js"></script> --}}
  {{!-- <script src="/js/googlemaps_fetch.js"></script> --}}

