

  <head>
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/royal_style.css">
    <link rel="stylesheet" href="/styles/book.css"/>
    <link rel="stylesheet" href="/styles/booking_colors.css"/>
    <title>{{title}}</title>
  </head>
  <body>
    
  <!-- Carousel -->

      <section id="showcase">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner" style="background-image:url('img/pyramid.png');">
            <div class="carousel-item carousel-image-1 active">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3">Hotel La Bodo</h1>
                  <p class="lead">Find out what is the flavor of the month circulating!</p>
                  <a href="" class="btn btn-primary btn-lg">Rooms</a>
                </div>
              </div>
            </div>

            <div class="carousel-item carousel-image-2" src="static/image/Burger.jpg">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3" style="font-colour:#FFFFFF;">Hotel La Bodo Restaurant</h1>
                  <p class="lead">Know more about the world-famous organization and what we stand for.</p>
                  <a href="" class="btn btn-primary btn-lg">Details</a>
                </div>
              </div>
            </div>


          <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
          </a>

          <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
          </a>
          </div>
        </div>
      </section>

      <!-- Who are we? -->

      <section id="aboutus" class="p-5">
        <div class="dark-box">
          <div class="row">
            <div class="container pt-5">
              <br>
              <br>
              <br>
              <br>
              <br>
              <h1>Who are we?</h1>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <strong><p class="lead p-3">Hotel La Bodo is created by some teenagers doing app dev project, the project started in 2020 and is gonna end today. Their goal is to get the project done and over with, so can enjoy chinese new year and semester break.
              Hopefully after today the teacher's will be kind enough to give us a A for this project !!!.</p></strong>
            </div>
          </div>
        </div>
      </section>

      <!-- What do we do -->
<section id="purpose" class="p-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 py-5">
              <div class="d-flex">
                <div class="align-self-start">
                  <i class="far fa-check-circle fa-2x"></i>
                  </div>
                  <div class="align-self-end ml-3">
                    <p>By: Danish  </p>
                  </div>
                </div>
                <div class="d-flex" id="bottom-left">
                  <div class="align-self-start">
                    <i class="far fa-check-circle fa-2x"></i>
                    </div>
                    <div class="align-self-end ml-3">
                      <p>By: Gerald</p>
                      </div>
                  </div>
            </div>

            <div class="col-md-4 p-5">
              <img src="img/hotel2.jpg" width="400" height="400">
            </div>

            <div class="col-md-4 py-5">
              <div class="d-flex">
                <div class="align-self-start">
                  <i class="far fa-check-circle fa-2x"></i>
                  </div>
                  <div class="align-self-end ml-3" >
                    <p>By: Zi Yuan</p>
                  </div>
                </div>
                <div class="d-flex" id="bottom-right">
                  <div class="align-self-start">
                    <i class="far fa-check-circle fa-2x"></i>
                    </div>
                    <div class="align-self-end ml-3">
                      <a href="/signup">By: Gabriel</a>
                      <a href="/profile">By: Gabriel</a>
                    </div>
                  </div>
              </div>
          </div>
        </div>
</section>
<section>
  <div class="section padding-top-bottom-small background-black over-hide footer">
      <div class="container">
          <div class="row">
              <div class="col-md-3 text-center text-md-left">
                  <img src="img/logo.png" alt="">
                  <p class="color-grey mt-4">180 Ang Mo Kio Ave 8,<br>Singapore 569830</p>
              </div>
              <div class="col-md-4 text-center text-md-left">
                  <h6 class="color-white mb-3">information</h6>
                  <a href="tandc.html">terms &amp; conditions</a>
                  <a href="services.html">services</a>
                  <a href="restaurant.html">restaurant</a>
                  <a href="testimonials.html">testimonials</a>
                  <a href="gallery.html">gallery &amp; images</a>
              </div>
              <div class="col-md-5 mt-4 mt-md-0 text-center text-md-left logos-footer">
                  <h6 class="color-white mb-3">about us</h6>
                  <p class="color-grey mb-4">You're not supposed to read this. Go away!</p>
                  <img src="img/logos/1.png" alt="">
                  <img src="img/logos/2.png" alt="">
                  <img src="img/logos/3.png" alt="">
              </div>
          </div>
      </div>
  </div>
</section>































    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
