<div class="container-fluid">
    <h1 class="display-5">Create New Item</h1>

    <form method="POST" action="/inventory/create">
        <div class="form-group">

            <label for="item_name">Item Name</label>
            <input class="form-control" id="item_name" name="item_name" required type="text" value="">


        </div>
        <div class="form-group">

            <label for="supplier">Supplier</label>
            <select class="form-control" id="supplier" name="supplier" required>
                <option value="none" selected disabled hidden></option>
                {{#if supplier}}
                {{#each supplier}}
                <option value="{{company_name}}" style="text-transform: capitalize;">{{company_name}}</option>
                {{/each}}
                {{/if}}

            </select>


        </div>
        <div class="form-group">

            <label for="product_name">Product Name</label>
            <select class="form-control" id="product_name" name="product_name" required>
                <option value="none" selected disabled hidden></option>
                {{#if productcat}}
                {{#each productcat}}
                <option value="{{product_name}}" style="text-transform: capitalize;">{{product_name}}</option>
                {{/each}}
                {{/if}}

            </select>


        </div>
        <div class="form-group">

            <label for="quantity">Quantity</label>
            <input class="form-control" id="quantity" name="quantity" required type="number" value="">


        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>