<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel La Bodo - Guest Booking Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/wowni.css') }}">

</head>

{% from "includes/_formHelper.html" import render_field %}

<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="{{ url_for('static',filename='image/pyramid.webp') }}" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">

                        <h2>Additional Guest Information</h2>

                        <div class="form-row">
                          <div class="form-group">
                              <label for="address">Check In Date</label>
                              <input type="text" name="read" id="read" value="{{session['bookindate']}}"  readonly/>

                          </div>
                          <div class="form-group">
                              <label for="address">Check Out Date</label>
                              <input type="text" name="read" id="read" value="{{session['bookoutdate']}}"  readonly/>

                          </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="address">Deal Selected</label>
                                <input type="text" name="read" id="read" value="{{session['Deals']}}" readonly/>

                            </div>
                            <div class="form-group">
                                <label for="address">Username</label>
                                <input type="text" name="read" id="read" value="{{session['CurrentUsername']}}" readonly/>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="address">Name</label>
                            <input type="text" name="read" id="read" value="{{session['Name']}}" readonly/>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                {{ render_field(form.industry, class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ render_field(form.occupation, class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ render_field(form.location, class="form-control") }}
                        </div>
                        <div class="form-group">

                            {{ render_field(form.transport, class="form-control") }}
                            {% if error %}
                                <div class="text-danger" ><h3 style="color:red;">{{ error }}</h3></div>
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="form-row">
                        <div class="form-group">
                            <label for="address">Room Allocated</label>
                            <input type="text" name="read" id="read" value="{{session['room_choice']}}"  readonly/>

                        </div>
                        <div class="form-group">
                            <label for="address">Room Number</label>
                            <input type="text" name="read" id="read" value="{{session['room_number']}}"  readonly/>

                        </div>
                        </div>
                        <div class="form-submit">

                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</html>
