{% extends "base.html" %}

{% block title %}
Rooms
{% endblock %}


	<!-- CSS
	================================================== -->
	{% block css %}
		{{ super() }}
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/jquery.fancybox.min.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/owl.carousel.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/owl.transitions.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/book.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/booking_colors.css') }}"/>
		<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

	{% endblock %}

</head>

{% block content %}

{% from "includes/_formHelper.html" import render_field %}




	<!-- Primary Page Layout
	================================================== -->

<form action="" method='POST' name="myform">
	{{ form.csrt_token }}
	<div class="loader">
		<div class="loader__figure"></div>
	</div>
	<div class="section padding-top-bottom z-bigger">
		<div class="section z-bigger">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mt-4 mt-lg-0">
						<div class="row">
							<div class="col-lg-6">
								<div class="room-box background-grey">
									<div class="room-name">suite tanya</div>
									<div class="room-per">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<img src="{{ url_for('static',filename='image/hotel1.jpg') }}" alt="">
									<div class="room-box-in">
										<h5 class="">Small Room</h5>
										<p class="mt-3">
One unforgettable feature of the Small Room is the bamboo parquet that create a warm and cosy environment, enriched by art objects expertly distributed throughout each room.</p>

										<label for="sroom">Book from 70$</label>
										<input type="radio" id="sroom" name="hotelrooms" value="sroom">
										<hr>
										<hr>
										<div class="room-icons mt-4 pt-4">
											<img src="{{ url_for('static',filename='image/svg/cocktail.svg') }}" alt="">
											<img src="{{ url_for('static',filename='image/svg/bed.svg') }}" alt="">
											<img src="{{ url_for('static',filename='image/svg/food.svg') }}" alt="">
											<a href="rooms-gallery.html">full info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 mt-4 mt-lg-0">
								<div class="room-box background-grey">
									<div class="room-name">suite helen</div>
									<div class="room-per">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div>
									<img src="{{ url_for('static',filename='image/hotel2.jpg') }}" alt="">
									<div class="room-box-in">
										<h5 class="">Apartment</h5>
										<p class="mt-3">Admire the beautiful console, created specifically for the Hotel Lã Bodo, as a jewel of furniture that combines mirrors and showcases, including the TV, minibar and desk.</p>
										<label for="apartment">Book from 100$</label>
										<input type="radio" id="apartment" name="hotelrooms" value="apartment">
										<div class="room-icons mt-4 pt-4">
											<img src="{{ url_for('static',filename='image/svg/cocktail.svg') }}" alt="">
											<img src="{{ url_for('static',filename='image/svg/bed.svg') }}" alt="">
											<img src="{{ url_for('static',filename='image/svg/food.svg') }}" alt="">
											<a href="rooms-gallery.html">full info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 mt-4" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
								<div class="room-box background-grey">
									<div class="room-name">suite andrea</div>
									<div class="room-per">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div>
									<img src="{{ url_for('static',filename='image/hotel3.jpg') }}" alt="">
									<div class="room-box-in">
										<h5 class="">Big Apartment</h5>
										<p class="mt-3">You will find the magnificent, handmade Bevilacqua fabrics produced with ancient Venetian weaving techniques in the perfect mix of 1940s furniture and simplicity.</p>
										<label for="bapartment">Book from 130$</label>
										<input type="radio" name="hotelrooms" id="bapartment" value="bapartment">
										<div class="room-icons mt-4 pt-4">
											<img src="img/5.svg" alt="">
											<img src="img/2.svg" alt="">
											<img src="img/3.svg" alt="">
											<a href="rooms-gallery.html">full info</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 mt-4" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.4s">
								<div class="room-box background-grey">
									<div class="room-name">suite diana</div>
									<div class="room-per">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div>
									<img src="{{ url_for('static',filename='image/hotel4.jpg') }}" alt="">
									<div class="room-box-in">
										<h5 class="">Villa</h5>
										<p class="mt-3">Carefully-selected art from the Serandrei collection of 20th-century objects and also segments of original 1940s parquet, worked and laid with refined geometric patterns.</p>
										<label for="villa">Book from 160$</label>
										<input type="radio" name="hotelrooms" id="villa" value="villa">
										<div class="room-icons mt-4 pt-4">
											<img src="img/5.svg" alt="">
											<img src="img/2.svg" alt="">
											<img src="img/3.svg" alt="">
											<a href="rooms-gallery.html">full info</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-lg-4 order-first order-lg-last">
						<div class="section background-dark p-4">
							<div class="row">
								{{ form.bookindate.label }} {{form.bookindate(class='datepicker form-control')}} {{form.hidden_tag()}}
								{{ form.bookoutdate.label }} {{form.bookoutdate(class='datepicker form-control')}} {{form.hidden_tag()}}
								    <p>
								    {{form.submit()}}
								    </p>


								<div class="col-12 col-md-6 col-lg-12 pt-5">
									<h6 class="color-white mb-3">Guests exposed to COVID-19 will be graded from C to S and will be assigned to the upper floors of Hotel Lã Bodo. A separate exit and entrance will be assigned to you.</h6>
									<h6 class="color-white mb-3">You are entitled to a FREE :</h6>
									<h6 class="color-white">Infrared Thermometer, Pulse Oximeter, N95 Respirator </h6>
								</div>
								<div class="col-12 col-md-6 col-lg-12 pt-5">
									<h6 class="color-white mb-3">Additional Items:</h6>
									<ul class="list">
										<li class="list__item">
											<input type="checkbox" class="checkbox">
											<label>
												Face Shield
											</label>
										</li>
										<li class="list__item">
											<input type="checkbox" class="checkbox">
											<label>
												Surgical Gloves
											</label>
										</li>
										<li class="list__item">
											<input type="checkbox" class="checkbox">
											<label>

												HEPA Air Filter
											</label>
										</li>
										<li class="list__item">
											<input type="checkbox" class="checkbox">
											<label>
												Bedpan Washer Disinfector
											</label>

										</li>
									</ul>
								</div>
								<div class="col-12 col-md-6 col-lg-12 pt-5">
									<h6 class="color-white mb-3">Miscellaneous Services:</h6>
									<ul class="list">
										<li class="list__item">
											<input type="checkbox" class="checkbox">
											<label>
												Private Transport/Car Rental
											</label>
										</li>
										<li class="list__item">
											<input type="checkbox" class="checkbox">
											<label>
												Breakfast
											</label>
										</li>
										<li class="list__item">
											<input type="checkbox" class="checkbox">
											<label>
												Surrounding Rooms Empty
											</label>
										</li>
										<li class="list__item">
											<input type="checkbox" class="checkbox">
											<label>
												Laundry
											</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


{% endblock %}

	{% block scripts %}

	<!-- JAVASCRIPT
    ================================================== -->
		{{ super() }}
		<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/plugins.js')}}"></script>
		<script src="{{url_for('static', filename='js/custom_thalia.js')}}"></script>
		<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

	{% endblock %}
