{% extends "server_base.html" %}


{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
{% endblock %}

{% block title %} Guest List {% endblock %}

</head>

{% block content %}

<body id="page-top">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                  <div class="row">
                    {{ hosp }}
                  </div>
                    <a class="btn btn-secondary" href="{{ url_for('server_guests') }}">Guest Details</a>
                  <a class="btn btn-outline-secondary" href="{{ url_for('hospital_list') }}">Hospitals</a>
                  <a class="btn btn-outline-secondary" href="{{ url_for('occupation_list') }}">Occupations</a>
                  <a class="btn btn-outline-secondary" href="{{ url_for('vehicle_list') }}">Vehicles</a>
                  <a class="btn btn-outline-secondary" href="{{ url_for('request_list') }}">Requests</a>
                    <!-- Page Heading -->




                    <hr>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="guestTable" width="100%" cellspacing="1">
                                    <thead>
                                        <tr>
                                            <th>Guest ID</th>
                                            <th>Name</th>
                                            <th>Grade</th>
                                            <th>Priority</th>
                                            <th>Industry</th>
                                            <th>Occupation</th>
                                            <th>Workplace Location</th>
                                            <th>Transport Service</th>
                                            <th>Room Number</th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                          <th>Guest ID</th>
                                          <th>Name</th>
                                          <th>Grade</th>
                                          <th>Priority</th>
                                          <th>Industry</th>
                                          <th>Occupation</th>
                                          <th>Workplace Location</th>
                                          <th>Transport Service</th>
                                          <th>Room Number</th>
                                          <th></th>
                                          <th></th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                      {% if guest_list %}
                                        {% for guest in guest_list %}
                                        <tr>
                                          <td> {{guest.get_guest_id()}} </td>
                                          <td> {{guest.get_name()}} </td>
                                          <td> {{guest.get_grade()}} </td>
                                          <td> {{guest.get_priority()}} </td>
                                          <td> {{guest.get_industry()}} </td>
                                          <td> {{guest.get_occupation()}} </td>
                                          <td> {{guest.get_location()}} </td>
                                          <td> {{guest.get_transport()}} </td>
                                          <td> {{guest.get_room_number()}} </td>
                                          <td><a href="/edit-guest/{{guest.get_guest_id()}}" class="btn btn-warning mb-2">Edit Guest</a>
                                            <form action="{{url_for('delete_guest', id=guest.get_guest_id())}}" method="POST">
                                              <!-- Modal -->
                                              <div class="modal fade" id="deleteModal_{{ guest.get_guest_id() }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      Do you really want to delete this guest? This process cannot be undone.
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <input type="submit" value="Delete" class="btn btn-danger">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>



                                            <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteModal_{{ guest.get_guest_id() }}">
                                            <span> Delete Guest </span>

                                          </button>
                                          </form>

                                          </td>
                                          <td>
                                            <a href="/grade-assign/{{guest.get_guest_id()}}" class="btn btn-success mb-2">Assign Grade/Priority</a>
                                            <form action="{{url_for('delete_gp', id=guest.get_guest_id())}}" method="POST">
                                              <!-- Modal -->
                                              <div class="modal fade" id="deleteGPModal_{{ guest.get_guest_id() }}" tabindex="-1" role="dialog" aria-labelledby="GPModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="GPModalLongTitle">Are you sure?</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      Do you really want to delete this guest's grade and priority? This process cannot be undone.
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <input type="submit" value="Delete" class="btn btn-danger">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>



                                            <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteGPModal_{{ guest.get_guest_id() }}">
                                            <span> Delete Grade/Priority </span>

                                          </button>
                                          </form>
                                        </td>
                                        </tr>
                                        {% endfor %}
                                      {% else %}

                                      {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; IZ*ONE</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block script %}
    {{ super() }}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js" charset="utf-8"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/datatables-demo.js') }}"></script>
  {% endblock %}
