{% extends "base.html" %}
{% block title %}HOTEL LÃ BODO - Retrieve Partnerships{% endblock %}

{% block content %}
<div class="container-fluid">
<h1 class="display-5">Partnerships</h1>
<div>
  {% if count == 0 %}
  <p>There are no Partnerships.</p>
  {% elif count == 1 %}
  <p>There is 1 Partnerships.</p>
  {% else %}
  <p>There are {{ count }} Partnerships.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company</th>
        <th>Resources</th>
        <th>Industry</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for partnerships in partnerships_list %}
      <tr>
        <td>{{ partnerships.get_company() }}</td>
        <td>{{ partnerships.get_resources() }}</td>
        <td>{{ partnerships.get_industry() }}</td>
        <td><a href="/updatePartnerships/{{partnerships.get_company()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('deletePartnerships', company=partnerships.get_company())}}" method="POST">
            <!--
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{partnerships.get_company()}} {{partnerships.get_resources()}}?');">
            -->
              <!-- Button to Open the Modal -->
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{partnerships.get_company()}}">
                Delete
              </button>

              <!-- The Modal -->
              <div class="modal" id="myModal_{{partnerships.get_company()}}">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Confirmation</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      Are you sure you want to delete Company: {{partnerships.get_company()}}, Resources: {{partnerships.get_resources()}} Industry: {{partnerships.get_industry()}}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <input type="submit" value="Delete" class="btn btn-danger">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>

                  </div>
                </div>
              </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}