{% extends "server_base.html "%}

{% block css%}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static',filename='vendor/slick/slick/slick.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='vendor/slick/slick/slick-theme.css') }}">


{% endblock %}



{% block content %}

{% from "includes/_formHelper.html" import render_field %}

<h1>Test Autocomplete</h1>
{{ render_field(form.name, class="form-control") }}

    {% endblock %}


    {% block script %}
      {{ super() }}
      <script src="{{ url_for('static',filename='vendor/slick/slick/slick.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/slick_carousel.js') }}"></script>

    {% endblock %}
