<div class="container-fluid">
    <h1 class="display-4">Update Supplier</h1>

    <form method="POST" action="">
        <div class="form-group">
            company name
        </div>
        <div class="form-group">
            uen number
        </div>
        <div class="form-group">
            email
        </div>
        <div class="form-group">
            product category
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>