<!doctype html>
<html lang="en">
  <head>
  	<title>Website menu 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/css/headermenu.css">
	
	</head>
	<body>
	<section class="ftco-section">

		<nav class="fixed-top navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
				<form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
          </div>
		  
        </form>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
				{{#if signup}}
            <img style= "width:90px;"src="https://cdn.discordapp.com/attachments/720848887920984115/860856627283099648/HotelLaBodo-removebg-preview.png" alt="">
	        	<li class="nav-item"><a href="" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="/restaurant/DineV2" class="nav-link">Dining&Bars</a></li>
	        	{{!-- <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dining&Bars</a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
					<a class="dropdown-item" href="/restaurant/DineV2">Restaurant La Bodo</a>
				</div> --}}
				</li>
	        	<li class="nav-item"><a href="#" class="nav-link">Facilities</a></li>
	          <li class="nav-item"><a href="#" class="nav-link">Gallery</a></li>
            <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
			<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>

			{{else}}
			<li class="nav-item"><a href="#" class="nav-link">Facilities</a></li>
	          <li class="nav-item"><a href="#" class="nav-link">Gallery</a></li>
            <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
			<li class="nav-item"><a href="/signup" class="nav-link">Sign Up</a></li>
			<li class="nav-item"><a href="/mainlogin" class="nav-link">Login</a></li>
			{{/if}}
			
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

	</section>

	<script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/headermenu.js"></script>

	</body>
</html>
