<!-- Main style sheet -->
<link href="/teststuff/style.css" rel="stylesheet">
<link rel="stylesheet" href="/teststuff/css/templatemo-style.css">
<link rel="stylesheet" href="/teststuff/css/hero-slider.css">
<link rel="stylesheet" href="/teststuff/css/owl-carousel.css">
<link rel="stylesheet" href="/teststuff/css/bootstrap.css">
<link rel="stylesheet" href="/teststuff/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/styles/templatemo-klassy-cafe.css">
<!-- Gallery Lightbox -->
<link href="/teststuff/css/magnific-popup.css" rel="stylesheet">


{{!-- {{>_navfood}} --}}

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>Here you can find delecious foods</h4>
                <h2>Restaurant La Bodo</h2>
                <p>Quisque nec nibh id lacus fringilla eleifend sed sit amet sem. Donec lectus odio, mollis a nisl non,
                    tempor interdum nisl.</p>
                <div class="primary-button">
                    <a href="#reservation" class="scroll-link" data-id="book-table">Book a Table</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Reservation Us Area Starts ***** -->
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Contact Us</h6>
                        <h2>Here You Can Make A Reservation Or Just walkin to our cafe</h2>
                    </div>
                    <p>Donec pretium est orci, non vulputate arcu hendrerit a. Fusce a eleifend riqsie, namei
                        sollicitudin urna diam, sed commodo purus porta ut.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>Phone Numbers</h4>
                                <span><a href="#">080-090-0990</a><br><a href="#">080-090-0880</a></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Emails</h4>
                                <span><a href="#">hello@company.com</a><br><a href="#">info@company.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Table Reservation</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                        placeholder="Your Email Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="phone" type="text" id="phone" placeholder="Phone Number*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <select value="number-guests" name="number-guests" id="number-guests">
                                        <option value="number-guests">Number Of Guests</option>
                                        <option name="1" id="1">1</option>
                                        <option name="2" id="2">2</option>
                                        <option name="3" id="3">3</option>
                                        <option name="4" id="4">4</option>
                                        <option name="5" id="5">5</option>
                                        <option name="6" id="6">6</option>
                                        <option name="7" id="7">7</option>
                                        <option name="8" id="8">8</option>
                                        <option name="9" id="9">9</option>
                                        <option name="10" id="10">10</option>
                                        <option name="11" id="11">11</option>
                                        <option name="12" id="12">12</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <div id="filterDate2">
                                    <div class="input-group date" data-date-format="dd/mm/yyyy">
                                        <input name="date" id="date" type="text" class="form-control"
                                            placeholder="dd/mm/yyyy">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <select value="time" name="time" id="time">
                                        <option value="time">Time</option>
                                        <option name="Breakfast" id="Breakfast">Breakfast</option>
                                        <option name="Lunch" id="Lunch">Lunch</option>
                                        <option name="Dinner" id="Dinner">Dinner</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" id="message" placeholder="Message"
                                        required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button-icon">Make A
                                        Reservation</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Reservation Area Ends ***** -->




<!-- Start Gallery -->
<section id="mu-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-gallery-area">

                    <div class="mu-title">
                        <span class="mu-subtitle">Discover</span>
                        <h2>Our Gallery</h2>
                    </div>

                    <div class="mu-gallery-content">

                        <!-- Start gallery image -->
                        <div class="mu-gallery-body">
                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/1.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/1.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/2.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/2.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/3.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/3.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/4.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/4.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/5.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/5.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/6.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/6.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/7.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/7.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/8.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/8.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/9.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/9.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Gallery -->



<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/custom.js"></script> 
<script src="/js/bootstrap.js"></script>
<script src="/js/simple-animated-counter.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/app.js"></script>




<script type="text/javascript">
    $(document).ready(function () {
        // navigation click actions
        $('.scroll-link').on('click', function (event) {
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function (event) {
            event.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed) {
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({ scrollTop: targetOffset }, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function () { }
        };
    }
</script>