<head></head>

<!-- Main style sheet -->
<link href="/teststuff/style.css" rel="stylesheet">
<link rel="stylesheet" href="/teststuff/css/templatemo-style.css">
<link rel="stylesheet" href="/teststuff/css/hero-slider.css">
<link rel="stylesheet" href="/teststuff/css/owl-carousel.css">
{{!-- <link rel="stylesheet" href="/teststuff/css/bootstrap-datepicker.css"> --}}
<link rel="stylesheet" href="/teststuff/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="/teststuff/css/bootstrap.css">
{{!--
<link rel="stylesheet" href="/teststuff/css/bootstrap-theme.min.css"> --}}
<link rel="stylesheet" href="/styles/templatemo-klassy-cafe.css">
<link rel="stylesheet" href="/styles/font-awesome.css">
<link rel="stylesheet" href="/teststuff/css/theme-color/default-theme.css">
<!-- Gallery Lightbox -->
<link rel="stylesheet" href="/teststuff/css/magnific-popup.css">



{{!-- {{>_navfood}} --}}

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Here you can find delecious foods</h4>
                <h2>Restaurant La Bodo</h2>
                <p>Quisque nec nibh id lacus fringilla eleifend sed sit amet sem. Donec lectus odio, mollis a nisl non,
                    tempor interdum nisl.</p>
                <div class="primary-button">
                    <a href="#reservation" class="scroll-link" data-id="book-table">Book a Table</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ***** Reservation Us Area Starts ***** -->
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Contact Us</h6>
                        <h2>Here You Can Make A Reservation Or Just walkin to our cafe</h2>
                    </div>
                    <p>Donec pretium est orci, non vulputate arcu hendrerit a. Fusce a eleifend riqsie, namei
                        sollicitudin urna diam, sed commodo purus porta ut.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>Phone Number</h4>
                                <span><a href="#">080-090-0990</a></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Email</h4>
                                <span><a href="#">HotelLaBodo@gmail.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <form id="contact" action="createReservation" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Table Reservation</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="cust_fname" type="text" id="cust_fname" placeholder="First Name*"
                                        required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="cust_lname" type="text" id="cust_lname" placeholder="Last Name*" required="" >
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="cust_email" type="text" id="cust_email" pattern="[^ @]*@[^ @]*"
                                        placeholder="Your Email Address*" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="cust_phone" type="text" id="cust_phone" placeholder="Phone Number*"
                                        required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="number_guest" type="text" id="number_guest" placeholder="No Of Guests*"
                                        value="{{reservation.number_guest}}" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <input name="cust_date" type="date2" id="cust_date" class="far fa-calendar"
                                        value="{{reservation.cust_date}}" placeholder="Date*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="cust_time" type="time" id="cust_time" placeholder="Time*"
                                        value="{{reservation.cust_time}}" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="cust_message" rows="6" id="cust_message" placeholder="Message"
                                        required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#exampleModal" id="modalsubmit">
                                        Make A Reservation
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="exampleModalLabel"
                                                        style="float: left; width: auto; text-align: center;">
                                                        Confirmation
                                                    </h3>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close" style="float: right; width: auto;">
                                                        <span aria-hidden="true">
                                                            ×
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 id="modal_body"></h6>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success btn-sm"
                                                        data-toggle="modal" data-target="#exampleModal" id="submit">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ***** Reservation Area Ends ***** -->





<!-- Start Gallery -->
<section id="mu-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-gallery-area">

                    <div class="mu-title">
                        <span class="mu-subtitle">Discover</span>
                        <h2>Our Gallery</h2>
                    </div>

                    <div class="mu-gallery-content">

                        <!-- Start gallery image -->
                        <div class="mu-gallery-body">
                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/1.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/1.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/2.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/2.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/3.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/3.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/4.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/4.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/5.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/5.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/6.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/6.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/7.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/7.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/8.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/8.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="/teststuff/img/gallery/9.jpg">
                                            <img alt="img" src="/teststuff/img/gallery/9.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="/teststuff/img/plus.png"
                                                    alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Gallery -->

<!-- Start Contact section -->
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">

                    <div class="mu-title">
                        <span class="mu-subtitle">Get In Touch</span>
                        <h2>Contact Us</h2>
                    </div>

                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="mu-contact-left">
                                    <!-- Email message div -->
                                    <div id="form-messages"></div>
                                    <!-- Start contact form -->
                                    <form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
                                        <div class="form-group">
                                            <label for="name">Your Name</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                                placeholder="Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="subject">Subject</label>
                                            <input type="text" class="form-control" id="subject" name="subject"
                                                placeholder="Subject" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Message</label>
                                            <textarea class="form-control" id="message" name="message" cols="30"
                                                rows="10" placeholder="Type Your Message" required></textarea>
                                        </div>
                                        <button type="submit" class="mu-send-btn">Send Message</button>
                                    </form>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mu-contact-right">
                                    <div class="mu-contact-widget">
                                        <h3>Office Address</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia temporibus
                                            corporis ea non consequatur porro corrupti hic voluptatibus assumenda,
                                            doloribus.</p>
                                        <address>
                                            <p><i class="fa fa-phone"></i> (850) 457 6688</p>
                                            <p><i class="fa fa-envelope-o"></i>contact@markups.io</p>
                                            <p><i class="fa fa-map-marker"></i>368 St. Panama City, Florida, USA</p>
                                        </address>
                                    </div>
                                    <div class="mu-contact-widget">
                                        <h3>Open Hours</h3>
                                        <address>
                                            <p><span>Monday - Friday</span> 9.00 am to 12 pm</p>
                                            <p><span>Saturday</span> 9.00 am to 10 pm</p>
                                            <p><span>Sunday</span> 10.00 am to 12 pm</p>
                                        </address>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact section -->

<!-- Start Map section -->
<section id="mu-map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9207.358598888495!2d-85.64847801496286!3d30.183918972289003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x2320479d70eb6202!2sDillard&#39;s!5e0!3m2!1sbn!2sbd!4v1462359735720"
        width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
</section>
<!-- End Map section -->

<!-- Start Footer -->
<footer id="mu-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-footer-area">
                    <div class="mu-footer-social">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-youtube"></span></a>
                    </div>
                    <div class="mu-footer-copyright">
                        <p>&copy; Copyright <a rel="nofollow" href="http://markups.io">markups.io</a>. All right
                            reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Import jquery cdn -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

<script src="/teststuff/js/jquery.min.js"></script>
<script src="/teststuff/js/jquery.magnific-popup.min.js"></script>
<script src="/teststuff/js/custom.js"></script>
<script src="/teststuff/js/bootstrap.js"></script>
<script src="/teststuff/js/simple-animated-counter.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
{{!-- <script src="/teststuff/js/bootstrap-datepicker.js"></script> --}}
<script src="/teststuff/js/bootstrap-datetimepicker.min.js"></script>
<script src="/teststuff/js/slick.js"></script>
<script src="/teststuff/js/app.js"></script>

<script src="/js/popper.min.js"></script>
<script src="/js/plugins.js"></script>
{{!-- <script src="/js/newcustom_thalia.js"></script> --}}
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>




<script type="text/javascript">
    $(document).ready(function () {
        // navigation click actions
        $('.scroll-link').on('click', function (event) {
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function (event) {
            event.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed) {
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({ scrollTop: targetOffset }, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function () { }
        };
    }
</script>

<script type="text/javascript">
    $("#modalsubmit").click(function () {
        var fname = $("#cust_fname").val();
        var lname = $("#cust_lname").val();
        var email = $("#cust_email").val();
        var phone = $("#cust_phone").val();
        var guest = $("#number_guest").val();
        var date = $("#cust_date").val();
        var time = $("#cust_time").val();
        var message = $("#cust_message").val();
        var str = "Thank you " + fname + " " + lname + " for making a reservation with us. <br/>"
            + "<br/>"
            + "Please ensure that the details below is correct before submmitting.<br/>"
            + "<br/>"
            + "Email: " + email + "<br/>"
            + "Phone Number: " + phone + "<br/>"
            + "Number Of Guest: " + guest + "<br/>"
            + "Date: " + date + "<br/>"
            + "Time: " + time + "<br/>"
            + "<br/>"
            + "we will be sending these details to your email."
        $("#modal_body").html(str);
    });
</script>

<script>
    $(function () {
        $.extend(true, $.fn.datetimepicker.defaults, {
            icons: {
                time: 'far fa-clock',
                date2: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'far fa-trash',
                close: 'far fa-times'
            }
        });
    });

    $(function () {
              var minDate = new Date();
              var maxDate = new Date();

              minDate.setDate(minDate.getDate()); // set days - mean previous date from current date + mean future date from current date
              maxDate.setDate(maxDate.getDate()+14);
                $('#cust_date').datetimepicker({
                  format: 'YYYY-MM-DD',
                  minDate: minDate,
                  maxDate: maxDate,
        });
    });
</script>