<div class="container-fluid">
    <h1 class="display-5">Create Product Name</h1>

    <form method="POST" action="">
        <div class="form-group">

            <label for="product_name">New Product Name</label>
            <input class="form-control" id="product_name" name="product_name" required type="text" value="">


        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>