

<div class="d-lg-flex half">
  <div
    class="bg order-1 order-md-2"
    style="background-image: url('img/HotelLaBodo.jpeg');"
  ></div>
  <div class="contents order-2 order-md-1">
    {{>_errors}}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
          <h3>Login to <strong>Hotel La Bodo</strong></h3>
          <p class="mb-4">Welcome to Hotel La Bodo!</p>
          <form action="/login" method="post">
            <div class="form-group first">
              
              <input
                type="text"
                class="form-control"
                placeholder="email"
                id="email"
                name="email"
              />
            </div>
            <div class="form-group last mb-3">
              
              <input
                type="password"
                class="form-control"
                placeholder="Your Password"
                id="password"
                name="password"
              />
            </div>

            <div class="d-flex mb-5 align-items-center">
              <label class="control control--checkbox mb-0"><span
                  class="caption"
                >Remember me</span>
                <input type="checkbox" checked="checked" />
                <div class="control__indicator"></div>
              </label>
              </label>
                <span class="ml-auto"><a href="/app.js" class="forgot-pass" data-toggle="modal" data-target="#exampleModal">Forgot Password</a></span>
                
            </div>

            <input
              type="submit"
              value="Log In"
              class="btn btn-block btn-primary"
            />

          </form>
<form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Input Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/login/forgetpw">
        <label>Enter Email</label>
        <input  value="email"
                type="text"
                class="form-control"
                placeholder="xyz@gmail.com"
                id="email"
                name="email"
              />
              
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value="Submit" id="submit-btn" data-toggle="modal" data-target="#modalReply"
            class="btn btn-primary">Submit</button>
        
      </div>
      </form>
    </div>
  </div>
</div>
</form>
          
          

          <div class="w-100 text-center">
            <p class="mt-4">An Admin user?<a href="/stafflogin">
                Click Here</a></p>
          </div>

          
                      <div class="card-body">
                        <p class="social-media d-flex justify-content-center">
                        <a class="social-icon google d-flex align-items-center justify-content-center" href="/googleauth/google" role="button">
                        <span class="fa fa-google"></span>
                          
                        </a>
                        </p>
                        <p class="social-media d-flex justify-content-center">
                                                    <a class="social-icon facebook d-flex align-items-center justify-content-center"
                                                        href="/fbauth/facebook" role="button">
                                                        
                                                        <span class="fa fa-facebook"></span>
                                                        
                                                    </a>
                                                    </p>
                                                </div>
                                            </div>
      </div>                        
                                            
                                            
                                          
                                            
        </div>
      </div>
    </div>
  </div>

</div>