

<div class="d-lg-flex half">
  <div
    class="bg order-1 order-md-2"
    style="background-image: url('img/HotelLaBodo.jpeg');"
  ></div>
  <div class="contents order-2 order-md-1">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
          <h3>Login to <strong>Hotel La Bodo</strong></h3>
          <p class="mb-4">Welcome to Hotel La Bodo!</p>
          <form action="/login" method="post">
            <div class="form-group first">
              
              <input
                type="text"
                class="form-control"
                placeholder="email"
                id="email"
                name="email"
              />
            </div>
            <div class="form-group last mb-3">
              
              <input
                type="password"
                class="form-control"
                placeholder="Your Password"
                id="password"
                name="password"
              />
            </div>

            <div class="d-flex mb-5 align-items-center">
              <label class="control control--checkbox mb-0"><span
                  class="caption"
                >Remember me</span>
                <input type="checkbox" checked="checked" />
                <div class="control__indicator"></div>
              </label>
              </label>
                <span class="ml-auto"><a href="/app.js" class="forgot-pass">Forgot Password</a></span>
                
            </div>

            <input
              type="submit"
              value="Log In"
              class="btn btn-block btn-primary"
            />

          </form>
          
          

          <div class="w-100 text-center">
            <p class="mt-4">An Admin user?<a href="/stafflogin">
                Click Here</a></p>
          </div>

          
                      <div class="card-body">
                        <a class="btn btn-block btn-social btn-google" href="/googleauth/google" role="button">
                          <i class="fab fa-google"></i>
                                Login with Google
                        </a>
                                                    <a class="btn btn-block btn-social btn-facebook"
                                                        href="/fbauth/facebook" role="button">
                                                        <i class="fab fa-facebook"></i>
                                                        Login with Facebook
                                                    </a>
                                                </div>
                                            </div>
      </div>                        
                                            
                                            
                                          
                                            
        </div>
      </div>
    </div>
  </div>

</div>