<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>


</body>
<script>

    window.onload = async function profile_fetch() {
    fetch("https://v1.nocodeapi.com/zsumurf/instagram/bCHQUPlNyOzgbzQB"
  
    )
      .then((res) => {
        return res.json();
      })
      .then((data) => {
        if (data.Response === "False") {
          console.log("Error found!!");
        } else {
          var igfeed = data;
          console.log(igfeed)
          
      }
      .catch((error) => {
        console.log(error);
      });
  }
  }</script>
</html>