<!DOCTYPE html>
<html>

<head>

  <body>
    <h1>Gallery</h1>
  </body>
  <style>


div.insta {
  border: 1px solid #ccc;
}

div.insta:hover {
  border: 1px solid #777;
}

div.insta img {
  width: 400px;
  height: 400px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>


  <div class="insta" id = "insta">
    <div class="desc">Add a description of the image here</div>
  </div>




</body>
<script>

    window.onload = async function profile_fetch() {
    fetch("https://v1.nocodeapi.com/zsumurf/instagram/bCHQUPlNyOzgbzQB"
  
    )
      .then((res) => {
        return res.json();
      }).then((data) => {
        if (data.Response === "False") {
          console.log("Error found!!");
        } else {
          var igfeed = data;
          for (let i = 0; i < igfeed.data.length; i++) {
              var img = document.createElement("img");    
              img.src = igfeed.data[i].media_url;
              console.log(igfeed.data[i].media_url);
              document.getElementById("insta").appendChild(img);
              
              }
          
      }

    })
  }
  </script>
</html>