<script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="../../public/sweetalert2/dist/sweetalert2.css">
<div class="container-fluid">
    <h1 class="display-5">Create Product Name</h1>

    <form method="POST" action="/productcat/create" id="form">
    <p>{{errors}}</p>
        <div class="form-group">

            <label for="product_name">New Product Name</label>
            <input class="form-control" id="product_name" name="product_name" type="text" value="{{product_name}}" required>


        </div>
        <button type="submit" value="Submit" id="submit-btn" data-toggle="modal" data-target="#modalReply" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    $("#submit-btn").click(function (e){
        e.preventDefault();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Confirm to add the new Product Category?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Comfirm',
            cancelButtonText: 'Cancel',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    'Added!',
                    'New Product Category has been added.',
                    'success'
                )
                $("#form").submit()
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Product Category is not added.',
                    'error'
                )
            }
        })
    })
</script>