<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form method="POST" action="/supplier/changepassword" id="form">
            <h1>Forget Password</h1>
            <input class="form-control" id="supplier_id" name="supplier_id" required type="text" value="{{supplier_id}}"
                placeholder="Supplier ID">
            <input class="form-control" id="password" name="password" required type="password" value="{{password}}"
                placeholder="Password">
            <input class="form-control" id="password2" name="password2" required type="password" value="{{password2}}"
                placeholder="Repeat Password">
            <button type="submit" value="Submit" id="submit-btn" data-toggle="modal"
                data-target="#modalReply">Submit</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome Back, Hotel La Bodo's Supplier</h1>
                <p>Create New Password <br> Make it unique and easy to remember.</p>
                <button class="ghost"><a href="/supplier/showLoginSignup">Click here to Login</a></button>
                <br>
                <button class="ghost"><a href="#">Click here to Sign Up</a></button>
            </div>
        </div>
    </div>
</div>