<div class="container-fluid">
    <h1 class="display-5">Create New Supplier</h1>

    <form method="POST" action="/supplier/create" id="form">
        <div class="form-group">

            <label for="company_name">Company Name</label>
            <input class="form-control" id="company_name" name="company_name" required type="text" value="">


        </div>
        <div class="form-group">

            <label for="uen_number">UEN Number</label>
            <input class="form-control" id="uen_number" name="uen_number" required type="number" value="">


        </div>
        <div class="form-group">

            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" required type="email" value="">


        </div>
        <div class="form-group">
        
            <label for="office_number">Office Number</label>
            <input class="form-control" id="office_number" name="office_number" required type="text" value="">
        
        
        </div>
        <button type="submit" value="Submit" id="submit-btn" data-toggle="modal" data-target="#modalReply"
            class="btn btn-primary">Submit</button>
    </form>
</div>