<div class="container-fluid">
    <h1 class="display-4">Update Supplier</h1>

    <form method="POST" action="/supplier/update/{{supplier.id}}?_method=PUT">
        <div class="form-group">

            <label for="company_name">Company Name</label>
            <input class="form-control" id="company_name" name="company_name" required type="text" value="">


        </div>
        <div class="form-group">

            <label for="uen_number">UEN Number</label>
            <input class="form-control" id="uen_number" name="uen_number" required type="number" value="">


        </div>
        <div class="form-group">

            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" required type="email" value="">


        </div>
        <div class="form-group">
        
            <label for="office_number">Office Number</label>
            <input class="form-control" id="office_number" name="office_number" required type="number" value="">
        
        
        </div>
        <div class="form-group">

            <label for="product_name">Product Name</label>
            <select class="form-control" id="product_name" multiple name="product_name" required>
                <option value="none" selected disabled hidden></option>
                {{#if productcat}}
                {{#each productcat}}
                <option value="{{product_name}}" style="text-transform: capitalize;">{{product_name}}</option>
                {{/each}}
                {{/if}}
            </select>


        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>