
  <link rel="stylesheet" href="/vendor/slick/slick/slick.css">
  <link rel="stylesheet" href="/vendor/slick/slick/slick-theme.css">


<body id="page-top">



                <!-- Begin Page Content -->

                <div class="container-fluid">
                  <a class="btn btn-outline-secondary" href="">Hotel Rooms</a>
                  <a class="btn btn-outline-secondary ml-1" href="">Hospitals</a>
                  <a class="btn btn-outline-secondary ml-1" href="">Occupations</a>
                  <a class="btn btn-outline-secondary ml-1" href="">Vehicles</a>
                  <a class="btn btn-secondary ml-1">Requests</a>
                  <hr>
                <div class="row flex-lg-nowrap">


                  <div class="col">
                    <div class="row">
                      <div class="col mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="e-profile">
                              <div class="row">

                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"></h4>
                                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Room </h4>

                                  </div>
                                  <div class="text-center text-sm-right">
                                    <span class="badge badge-secondary">Guest</span>
                                    <span class="badge badge-secondary">Grade </span>
                                    <span class="badge badge-secondary">Priority </span>
                                    <div class="text-muted"><small>Joined 15 Nov 2020</small></div>
                                  </div>
                                </div>
                              </div>

                              <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                  <form class="form" method="POST" action="">
                                    <div class="row">
                                      <div class="col">

                                        <div class="row">
                                          <div class="col-12 col-sm-6 mb-3">
                                            <div class="form-group">
                                              <label>Grade</label>
                                              <input class="form-control" type="text" value=  readonly>
                                            </div>
                                          </div>
                                          <div class="col-12 col-sm-6 mb-3">
                                            <div class="form-group">
                                              <label>Priority</label>
                                              <input class="form-control" type="text" value= readonly>
                                            </div>
                                          </div>
                                        </div>


                                        <div class="row">
                                          <div class="col">
                                            <div class="form-group">
                                            <label for="name">Request Type</label>
                                             <input type="text" class="form-control" name="type" value="{{type}}" required>
                                          </div>
                                          </div>

                                        </div>

                                        <div class="row">
                                          <div class="col">
                                            <div class="form-group">
                                              <label for="name">Request Topic</label>
                                             <input type="text" class="form-control" name="topic" value="{{topic}}" required>
                                            </div>
                                          </div>

                                        </div>

                                        <div class="row">
                                          <div class="col">
                                            <div class="form-group">
                                              <label for="name">Details</label>
                                             <input type="textarea" class="form-control" name="details" value="{{details}}" required>
                                            </div>
                                          </div>

                                        </div>








                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col d-flex justify-content-end">
                                        <button class="btn btn-dark" type="submit">Create Request</button>
                                      </div>
                                    </div>
                                  </form>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>

                  </div>
                </div>
                </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
  <!--  <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a> -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


      <script src="/vendor/slick/slick/slick.min.js"></script>
      <script src="/js/slick_carousel.js"></script>

