<div class="container-fluid">
    <h1 class="display-5">Create Product Category</h1>

    <form method="POST" action="">
        <div class="form-group">
            product category
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>