
  <head>
    
  <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">

  

</head>

<body id="page-top">
  

                <!-- Begin Page Content -->
                <div class="container-fluid">
                  <div class="col d-flex justify-content">
                  
                  
                  <div class="col d-flex justify-content-end">
                    <a class="btn btn-outline-secondary ml-1" href="intent"><i class="fas fa-plus-circle"></i> Create New QnA </a>
                    
                  </div>
                </div>
                


                    <!-- Page Heading -->

<!-- Modal -->
<div class="modal fade" id="deleteDesu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete these records? This process cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
                  <br>
    
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="hospitalTable" width="100%" cellspacing="1">
                                        <thead>
                                            <tr>
                                                <th>Display Name</th>
                                                <th>Top Answer</th>
                                                <th>Intent Path</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                          {{#if chatbots }}
                                            
                                            {{#each chatbots }}
                                            <tr>
                                              <td>
                                                {{displayName}}
                                              </td>
                                              <td>
                                                {{#each messages}}
                                                    {{#each text}}
                                                        {{0}}
                                                    {{/each}}
                                                {{/each}}
                                              </td>
                                              
                                              <td>
                                                {{name}}
                                              </td>
                                            </tr>
                                            {{/each}}
                                          {{else}}
                                        </tbody>
                                        {{/if}}
                                      
                                    </table>


                            </div>
                            <div class="row">


                              
                                
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Scroll to Top Button-->
  <!--  <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a> -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>



       <!-- Page level plugins -->
       <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
       <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
       <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js" charset="utf-8"></script>

       <!-- Page level custom scripts -->
       <script src="/js/datatables-demo.js"></script>
       
    